{erl_opts, [debug_info]}. %, fail_on_warning]}.

{require_otp_vsn, "R17"}.

{deps_dir, ["deps"]}.

{deps, [
        {cowboy,   "1.0.1",        {git, "https://github.com/extend/cowboy.git", {tag, "1.0.1"}}},
        {jsx,   ".*",        {git, "https://github.com/spawnfest/jsx.git", {branch, "beamspirit"}}}
]}.
